@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/extends';

.to-top-link {
  width: 50px;
  height: 50px;
  background: darken($gradient-color1, 5%);
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 10px;
  color: white;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  @include flex(row, wrap, center, center);
  opacity: 1;
  transition: 0.2s;
  &:hover {
    background: darken($gradient-color1, 2%);
  }
  &.mPS2id-highlight {
    opacity: 0;
  }
}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}

// * {@include outline()}
