include ./for-you__block

mixin for-you(props = {})
  - const {} = props;

  .for-you#product
    .for-you__wrapper.wrapper
      h2.wow.animate__animated.animate__zoomInDown.for-you__headline FigmaLand was Built Specifically for You
      .for-you__content
        +for-you__block({
          blockHeadline: 'Management',
          blockParagraph: 'Slate helps you see how many more days you need to work to reach your financial goal for the month and year.'
        })
        +for-you__block({
          blockHeadline: 'Customer Support',
          blockParagraph: 'Slate helps you see how many more days you need to work to reach your financial goal for the month and year.'
        })
        +for-you__block({
          blockHeadline: 'Collaborative',
          blockParagraph: 'Slate helps you see how many more days you need to work to reach your financial goal for the month and year.'
        })
