@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/extends';

.for-you {
  background: $white;
  &__wrapper {
    @include flex(column, wrap, flex-start, center);
    padding-top: toRem(107);
    padding-bottom: toRem(70);
    @media only screen and (min-width: 992px) {
      padding-top: toRem(111);
      padding-bottom: toRem(160);
    }
    @media only screen and (min-width: 1273px) {
      @include wrapper(1273px, auto);
    }
  }
  &__headline {
    @extend .global-h2;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    @media only screen and (min-width: 576px) {
      width: 450px;
      padding: 0;
    }
    @media only screen and (min-width: 992px) {
      width: 650px;
    }
    @media only screen and (min-width: 1273px) {
      width: 800px;
    }
  }
  &__content {
    width: 100%;
    @include flex(column, wrap, flex-start, center);
    margin-top: toRem(45);
    @media only screen and (min-width: 992px) {
      @include flex(row, wrap, flex-start, flex-start);
      margin-top: toRem(101);
    }
  }
  &__block {
    width: 100%;
    @include flex(column, wrap, flex-start, center);
    box-shadow: $global-shadow;
    border-radius: 10px;
    margin-top: toRem(65);
    padding-top: toRem(45);
    padding-bottom: toRem(50);
    padding-right: toRem(50);
    padding-left: toRem(50);
    position: relative;
    overflow: hidden;
    &:first-child {
      margin-top: 0;
    }
    &::before {
      content: '';
      @include size(100%, 100%);
      position: absolute;
      top: 0;
      left: 0;
      @extend .global-gradient-diagonal;
      transition: 0.2s;
      opacity: 0;
    }
    &:hover::before {
      opacity: 1;
    }
    @media only screen and (min-width: 576px) {
      width: 450px;
    }
    @media only screen and (min-width: 992px) {
      margin-top: 0;
      @include flex(column, wrap, flex-start, flex-start);
      width: calc((100% - calc(toRem(30) * 2)) / 3);
      &:not(:nth-child(3n)) {
        margin-right: toRem(30);
      }
    }
    @media only screen and (min-width: 1273px) {
      padding-top: toRem(58);
    }
  }
  &__icon {
    @include size(toRem(63), toRem(63));
    transition: 0.2s;
    position: relative;
  }
  &__block-headline {
    width: auto;
    margin: 0;
    font-family: $pb;
    font-size: toRem(20);
    line-height: toRem(33);
    letter-spacing: toRem(0.1);
    color: $black;
    text-align: center;
    transition: 0.2s;
    margin-top: toRem(20);
    position: relative;
    @media only screen and (min-width: 992px) {
      text-align: left;
    }
    @media only screen and (min-width: 1273px) {
      font-size: toRem(30);
      margin-top: toRem(38);
    }
  }
  &__block-paragraph {
    @extend .global-p;
    transition: 0.2s;
    margin-top: toRem(30);
    text-align: center;
    position: relative;
    @media only screen and (min-width: 992px) {
      text-align: left;
    }
    @media only screen and (min-width: 1273px) {
      margin-top: toRem(30);
    }
  }
  &__learn-more {
    text-decoration: none;
    font-family: $pr;
    font-size: toRem(15);
    line-height: toRem(27);
    letter-spacing: $ls;
    color: $blue;
    transition: 0.2s;
    margin-top: toRem(30);
    position: relative;
    text-transform: capitalize;
  }
  &__block:nth-child(1) &__icon {
    background: url('./img/for-you__block-icon1.webp') no-repeat center;
  }
  &__block:nth-child(2) &__icon {
    background: url('./img/for-you__block-icon2.webp') no-repeat center;
  }
  &__block:nth-child(3) &__icon {
    background: url('./img/for-you__block-icon3.webp') no-repeat center;
  }
  &__block:nth-child(1):hover &__icon {
    background: url('./img/for-you__block-icon1-hover.webp') no-repeat center;
  }
  &__block:nth-child(2):hover &__icon {
    background: url('./img/for-you__block-icon2-hover.webp') no-repeat center;
  }
  &__block:nth-child(3):hover &__icon {
    background: url('./img/for-you__block-icon3-hover.webp') no-repeat center;
  }
  &__block:hover &__block-headline,
  &__block:hover &__block-paragraph,
  &__block:hover &__learn-more {
    color: $white;
  }
}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1273px) {
}
@media only screen and (min-width: 1400px) {
}

// * {@include outline()}
