mixin for-you__block(props = {})
  - const { blockHeadline, blockParagraph } = props;

  .for-you__block
    .for-you__icon
    h4.for-you__block-headline= blockHeadline
    p.for-you__block-paragraph= blockParagraph
    a.prevdef.for-you__learn-more(href="#") Learn More
