mixin logo(props = {})
  - const {  } = props;

  a.prevdef.logo__container(href="#")
    img.lazy.logo__image(src=require("../components/lazyload/img/lazy-1x1.png"), data-src=require("../components/logo/img/lazy-logo.webp"), alt="logo")
