mixin subscribe(props = {})
  - const {} = props;

  .subscribe
    .subscribe__wrapper.wrapper
      h2.wow.animate__animated.animate__zoomInDown.subscribe__headline Subscribe
      p.subscribe__paragraph Subscribe to get exclusive news & offer
      form.subscribe__form(action="#" method="POST")
        input.subscribe__input.subscribe__email-input(type="email" placeholder="Enter Your Address Email")
        button.prevdef.subscribe__button Subscribe
