@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/extends';

.subscribe {
  background: $white;
  &__wrapper {
    @include flex(column, wrap, flex-start, center);
    padding-top: toRem(117);
    padding-bottom: toRem(109);
    @media only screen and (min-width: 1200px) {
      padding-top: toRem(99);
      padding-bottom: toRem(107);
    }
  }
  &__headline {
    @extend .global-h2;
    text-transform: uppercase;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    @media only screen and (min-width: 576px) {
      padding: 0;
    }
  }
  &__paragraph {
    @extend .global-p;
    text-align: center;
    margin-top: toRem(27);
    padding-right: 5%;
    padding-left: 5%;
    @media only screen and (min-width: 576px) {
      padding: 0;
    }
  }
  &__form {
    width: 100%;
    @include flex(column, wrap, flex-start, center);
    margin-top: toRem(62);
    @media only screen and (min-width: 576px) {
      width: 400px;
    }
    @media only screen and (min-width: 1200px) {
      width: 100%;
      @include flex(row, wrap, center, center);
    }
  }
  &__input {
    outline: none;
    border: 1px solid #d0d0d0;
    border-radius: 7px;
    background: #efefef;
    font-family: $rb;
    font-size: toRem(15);
    line-height: toRem(24);
    letter-spacing: $ls;
    color: $grey;
    padding: toRem(16);
    width: 100%;
    text-align: center;
    @media only screen and (min-width: 1200px) {
      width: 284px;
      padding-right: toRem(28);
      padding-left: toRem(28);
      text-align: left;
    }
  }
  &__email-input {
    &.active {
      border: 1px solid $red;
    }
  }
  &__button {
    @extend .global-a;
    text-transform: capitalize;
    border-radius: 7px;
    width: 100%;
    margin-top: toRem(12);
    padding-top: toRem(22);
    padding-bottom: toRem(22);
    @media only screen and (min-width: 1200px) {
      width: auto;
      border-radius: toRem(50);
      margin-top: 0;
      margin-left: toRem(10);
    }
  }
}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}

// * {@include outline()}
