mixin general(props = {})
  - const {  } = props;

  .general
    .general__wrapper.wrapper
      h1.wow.animate__animated.animate__zoomInDown.general__headline Find the Best Solution in Seconds
      p.general__paragraph If debugging is the process of removing software bugs.
      .general__links-container
        a.prevdef.general__link.general__get-started(href="#") Get started
        a.prevdef.general__link.general__try-for-free(href="#") Try for free
      img.lazy.general__image(src=require("../components/lazyload/img/lazy-1x1.png"), data-src=require("../components/general/img/lazy-general__image.webp"), alt="general image")
