@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/extends';

.general {
  @extend .global-gradient-horizontal;
  &__wrapper {
    @include flex(column, wrap, flex-start, center);
    padding-bottom: toRem(50);
    padding-top: toRem(45);
    @media only screen and (min-width: 1200px) {
      padding-top: toRem(125);
    }
  }
  &__headline {
    @extend .global-h2;
    color: $white;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    @media only screen and (min-width: 576px) {
      width: 450px;
      padding: 0;
    }
    @media only screen and (min-width: 992px) {
      font-family: $pbl;
      font-size: toRem(55);
      line-height: toRem(65);
      width: 650px;
    }
  }
  &__paragraph {
    @extend .global-p;
    text-align: center;
    color: $white;
    margin-top: toRem(17);
    padding-right: 5%;
    padding-left: 5%;
    @media only screen and (min-width: 576px) {
      width: 400px;
      padding: 0;
    }
    @media only screen and (min-width: 1200px) {
      width: auto;
      margin-top: toRem(25);
    }
  }
  &__links-container {
    @include flex(column, wrap, flex-start, center);
    width: 60%;
    margin-top: toRem(45);
    @media only screen and (min-width: 576px) {
      width: 300px;
      padding: 0;
    }
    @media only screen and (min-width: 1200px) {
      width: auto;
      margin-top: toRem(66);
      @include flex(row, wrap, flex-start, center);
    }
  }
  &__link {
    @extend .global-a;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    text-align: center;
    box-shadow: none;
    @media only screen and (min-width: 1200px) {
      width: auto;
      padding-right: toRem(46);
      padding-left: toRem(46);
    }
  }
  &__get-started {
    color: $dark-blue;
    background: $white;
    border-color: $white;
    &:hover {
      color: $white;
    }
  }
  &__try-for-free {
    background: transparent;
    border-color: $white;
    margin-top: toRem(13);
    @media only screen and (min-width: 1200px) {
      margin-top: 0;
      margin-left: toRem(13);
    }
  }
  &__image {
    margin-top: toRem(95);
    @media only screen and (min-width: 1200px) {
      margin-top: toRem(73);
    }
  }
}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}

// * {@include outline()}
