@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/extends';

.pricing {
  background: $white;
  position: relative;
  &::before {
    content: '';
    @include size(90%, 1px);
    background: #d2d2d2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  @media only screen and (min-width: 1200px) {
    &::before {
      width: 100%;
    }
  }
  &__wrapper {
    @include flex(column, wrap, flex-start, center);
    padding-top: toRem(80);
    padding-bottom: toRem(150);
    @media only screen and (min-width: 1200px) {
      padding-top: toRem(25);
    }
  }
  &__headline {
    @extend .global-h2;
    padding-right: 5%;
    padding-left: 5%;
    text-align: center;
    @media only screen and (min-width: 576px) {
      padding: 0;
      width: 350px;
    }
    @media only screen and (min-width: 768px) {
      width: 500px;
    }
    @media only screen and (min-width: 992px) {
      width: 100%;
    }
  }
  &__paragraph {
    @extend .global-p;
    margin-top: toRem(22);
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
    @media only screen and (min-width: 576px) {
      padding: 0;
      width: 350px;
    }
    @media only screen and (min-width: 768px) {
      width: 500px;
    }
    @media only screen and (min-width: 992px) {
      width: 100%;
    }
    @media only screen and (min-width: 1200px) {
      margin-top: toRem(27);
    }
  }
  &__content {
    @include flex(column, wrap, flex-start, center);
    width: 100%;
    margin-top: toRem(65);
    @media only screen and (min-width: 576px) {
      width: 400px;
    }
    @media only screen and (min-width: 768px) {
      width: 560px;
    }
    @media only screen and (min-width: 992px) {
      width: 100%;
      @include flex(row, wrap, flex-start, center);
    }
    @media only screen and (min-width: 1200px) {
      margin-top: toRem(62);
      @include flex(row, wrap, center, center);
    }
  }
  &__block {
    @include flex(column, wrap, flex-start, center);
    border: 1px solid #dedede;
    border-radius: 10px;
    padding-top: toRem(50);
    padding-bottom: toRem(50);
    padding-left: toRem(40);
    padding-right: toRem(40);
    margin-top: toRem(33);
    width: 100%;
    &:first-child {
      margin-top: 0;
    }
    @media only screen and (min-width: 992px) {
      width: calc((100% - calc(toRem(30) * 2)) / 3);
      margin-top: 0;
      &:not(:nth-child(3n)) {
        margin-right: toRem(30);
      }
    }
    @media only screen and (min-width: 1200px) {
      width: toRem(335);
    }
  }
  &__block1 {
  }
  &__block2 {
  }
  &__block3 {
  }
  &__tariff-name {
    width: auto;
    margin: 0;
    font-family: $pb;
    font-size: toRem(30);
    line-height: toRem(33);
    letter-spacing: toRem(0.1);
    text-align: center;
    color: $black;
  }
  &__tariff-description {
    @extend .global-h3;
    font-size: toRem(12);
    margin-top: toRem(10);
  }
  &__image {
    margin-top: toRem(30);
  }
  &__tariff-price-container {
    @include flex(row, wrap, flex-start, flex-end);
    margin-top: toRem(27);
  }
  &__tariff-price {
    width: auto;
    margin: 0;
    font-family: $pbl;
    font-size: toRem(55);
    line-height: toRem(65);
    letter-spacing: $ls;
    color: $mint;
  }
  &__tariff-price-opt {
    position: relative;
    top: toRem(-4);
    margin-left: toRem(10);
    @extend .global-h3;
    &::before {
      content: '$';
      position: absolute;
      left: toRem(0);
      top: toRem(-40);
      font-family: $pb;
      font-size: toRem(30);
      line-height: toRem(33);
      letter-spacing: toRem(0.1);
      color: $mint;
    }
  }
  &__options-container {
    margin-top: toRem(40);
    @include flex(column, wrap, flex-start, center);
  }
  &__option {
    width: auto;
    margin: 0;
    font-family: $pr;
    font-size: toRem(15);
    line-height: toRem(27);
    letter-spacing: $ls;
    color: $grey;
    margin-top: toRem(20);
    text-align: center;
    &.active {
      color: $black;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  &__option1 {
  }
  &__option2 {
  }
  &__option3 {
  }
  &__option4 {
  }
  &__option5 {
  }
  &__order-link {
    @extend .global-a;
    text-transform: capitalize;
    margin-top: toRem(40);
    width: 80%;
    text-align: center;
    @media only screen and (min-width: 576px) {
      width: 300px;
    }
    @media only screen and (min-width: 992px) {
      width: 100%;
    }
  }
}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}

* {
  // @include outline();
}
