mixin pricing(props = {})
  - const {} = props;

  .pricing
    .pricing__wrapper.wrapper
      h2.wow.animate__animated.animate__zoomInDown.pricing__headline Simple Pricing for Your Team
      p.pricing__paragraph Slate helps you see how many more days you need
      .pricing__content
        .pricing__block.pricing__block1
          h4.pricing__tariff-name Education
          p.pricing__tariff-description Brief price Description
          img.lazy.pricing__image(data-src=require("../components/pricing/img/lazy-pricing__image1.webp"), src=require("../components/lazyload/img/lazy-1x1.png"), alt="pic")
          .pricing__tariff-price-container
            p.pricing__tariff-price 0
            p.pricing__tariff-price-opt Per/ month
          .pricing__options-container
            p.active.pricing__option.pricing__option1 Only 2 Operators
            p.active.pricing__option.pricing__option2 Abandoned Cart
            p.active.pricing__option.pricing__option3 Facebook & Instagram Ads
            p.pricing__option.pricing__option4 Order Notifications
            p.pricing__option.pricing__option5 Landing Pages
          a.prevdef.pricing__order-link(href="#") Order Now
        .pricing__block.pricing__block2
          h4.pricing__tariff-name Professional
          p.pricing__tariff-description Brief price Description
          img.lazy.pricing__image(data-src=require("../components/pricing/img/lazy-pricing__image2.webp"), src=require("../components/lazyload/img/lazy-1x1.png"), alt="pic")
          .pricing__tariff-price-container
            p.pricing__tariff-price 10
            p.pricing__tariff-price-opt Per/ month
          .pricing__options-container
            p.active.pricing__option.pricing__option1 Only 2 Operators
            p.active.pricing__option.pricing__option2 Abandoned Cart
            p.active.pricing__option.pricing__option3 Facebook & Instagram Ads
            p.active.pricing__option.pricing__option4 Order Notifications
            p.pricing__option.pricing__option5 Landing Pages
          a.prevdef.pricing__order-link(href="#") Order Now
        .pricing__block.pricing__block3
          h4.pricing__tariff-name Business
          p.pricing__tariff-description Brief price Description
          img.lazy.pricing__image(data-src=require("../components/pricing/img/lazy-pricing__image3.webp"), src=require("../components/lazyload/img/lazy-1x1.png"), alt="pic")
          .pricing__tariff-price-container
            p.pricing__tariff-price 99
            p.pricing__tariff-price-opt Per/ month
          .pricing__options-container
            p.active.pricing__option.pricing__option1 Only 2 Operators
            p.active.pricing__option.pricing__option2 Abandoned Cart
            p.active.pricing__option.pricing__option3 Facebook & Instagram Ads
            p.active.pricing__option.pricing__option4 Order Notifications
            p.active.pricing__option.pricing__option5 Landing Pages
          a.prevdef.pricing__order-link(href="#") Order Now
