extends ../templates/page/page
include ../components/welcome/welcome
include ../components/general/general
include ../components/for-you/for-you
include ../components/about1/about1
include ../components/about2/about2
include ../components/about3/about3
include ../components/pricing/pricing
include ../components/subscribe/subscribe

block head
  - const pageTitle = "Главная";
  - const pageDescription = "Шаблон проекта для быстрого старта с webpack, pug и scss";
  - const pageKeywords = "webpack, pug, scss";

block content
  //- +welcome({
  //- 	message: 'Welcome! <br/> Happy coding!'
  //- })
  +general
  +for-you
  +about1
  +about2
  +about3
  +pricing
  +subscribe
