mixin modal(props = {})
  - const {} = props;

  .modal__overlay
  .modal__window.modal__error-container
    p.modal__paragraph.modal__error-paragraph Fill the input, please.
  .modal__window.modal__success-container
    p.modal__paragraph.modal__success-paragraph Thank you for the subscription!
