@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/extends';

.modal {
  &__overlay {
    @include size(100%, 100%);
    position: fixed;
    background: rgba($black, 0.95);
    z-index: 999;
    display: none;
    &.active {
      display: block;
    }
  }
  &__window {
    @include size(100%, 200px);
    background: $black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flex(row, wrap, center, center);
    opacity: 0;
    z-index: -1;
    transition: 0.2s;
    padding: toRem(40);
    @media only screen and (min-width: 576px) {
      width: 500px;
    }
    &.active {
      opacity: 1;
      z-index: 999;
    }
  }
  &__paragraph {
    width: auto;
    margin: 0;
    font-family: $pb;
    font-size: toRem(20);
  }
  &__error-container {
  }
  &__error-paragraph {
  }
  &__success-container {
  }
  &__success-paragraph {
  }
}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}

// * {@include outline()}
