mixin about3(props = {})
  - const {} = props;

  .about3
    .about3__wrapper.wrapper
      .about3__text-container
        h2.wow.animate__animated.animate__zoomInDown.about3__headline Perfect solution for small businesse
        p.about3__paragraph Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business less stressful. We'd love to show you what we're building...
        img.lazy.about3__m-image(src=require("../components/lazyload/img/lazy-1x1.png"), data-src=require("../components/about3/img/lazy-about3__image.webp"), alt="pic")
        .about3__links-container
          a.prevdef.about3__link.about3__sign-up(href="#") Sign Up for Free
          a.prevdef.about3__link.about3__find-out(href="#") Find Out More
      img.lazy.about3__d-image(src=require("../components/lazyload/img/lazy-1x1.png"), data-src=require("../components/about3/img/lazy-about3__image.webp"), alt="pic")
