@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/extends';

.about3 {
  background: $white;
  &__wrapper {
    @include flex(column, wrap, flex-start, center);
    padding-top: toRem(90);
    padding-bottom: toRem(70);
    @media only screen and (min-width: 992px) {
      @include flex(row, wrap, center, flex-start);
    }
    @media only screen and (min-width: 1200px) {
      padding-top: toRem(44);
      padding-bottom: toRem(58);
    }
  }
  &__text-container {
    @include flex(column, wrap, flex-start, center);
    @media only screen and (min-width: 992px) {
      width: 48%;
      @include flex(column, wrap, flex-start, flex-start);
    }
    @media only screen and (min-width: 1200px) {
      width: 38%;
      padding-top: toRem(71);
      padding-left: toRem(50);
    }
  }
  &__headline {
    @extend .global-h2;
    padding-right: 5%;
    padding-left: 15%;
    @media only screen and (min-width: 576px) {
      padding: 0;
      width: 350px;
    }
    @media only screen and (min-width: 768px) {
      width: 500px;
    }
    @media only screen and (min-width: 992px) {
      width: 100%;
    }
    @media only screen and (min-width: 1200px) {
      padding-right: toRem(50);
    }
  }
  &__paragraph {
    @extend .global-p;
    margin-top: toRem(27);
    padding-right: 25%;
    padding-left: 15%;
    @media only screen and (min-width: 576px) {
      padding: 0;
      width: 350px;
    }
    @media only screen and (min-width: 768px) {
      width: 500px;
    }
    @media only screen and (min-width: 992px) {
      width: 100%;
    }
    @media only screen and (min-width: 1200px) {
      margin-top: toRem(45);
      padding-right: 36%;
    }
  }
  &__m-image {
    margin-top: toRem(98);
    @media only screen and (min-width: 992px) {
      display: none;
    }
  }
  &__links-container {
    @include flex(column, wrap, flex-start, center);
    width: 80%;
    margin-top: toRem(88);
    @media only screen and (min-width: 576px) {
      width: 350px;
    }
    @media only screen and (min-width: 992px) {
      width: 100%;
      @include flex(column, wrap, flex-start, flex-start);
    }
    @media only screen and (min-width: 1500px) {
      width: auto;
      margin-top: toRem(34);
      @include flex(row, wrap, flex-start, center);
    }
  }
  &__link {
    @extend .global-a;
    width: 100%;
    text-align: center;
    @media only screen and (min-width: 992px) {
      width: auto;
    }
    @media only screen and (min-width: 1500px) {
      width: auto;
    }
  }
  &__sign-up {
  }
  &__find-out {
    margin-top: toRem(22);
    background: transparent;
    color: $blue;
    &:hover {
      color: $white;
    }
    @media only screen and (min-width: 1500px) {
      margin-top: 0;
      margin-left: toRem(22);
    }
  }
  &__d-image {
    display: none;
    @media only screen and (min-width: 992px) {
      display: block;
      width: 48%;
    }
    @media only screen and (min-width: 1200px) {
      width: 62%;
    }
  }
}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}

* {
  // @include outline();
}
