@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/extends';

.header {
  @extend .global-gradient-horizontal;
  position: relative;
  transition: 0.2s;
  &.active {
    @extend .global-gradient-horizontal-darken;
  }
  @media only screen and (min-width: 1284px) {
    &.active {
      background: linear-gradient(90deg, $gradient-color1, $gradient-color2);
    }
  }
  &__wrapper {
    @include flex(column, wrap, flex-start, center);
    padding-top: toRem(33);
    padding-bottom: toRem(54);
    @media only screen and (min-width: 576px) {
      @include flex(row, wrap, space-between, center);
    }
    @media only screen and (min-width: 1284px) {
      width: 1284px;
      @include flex(row, wrap, space-between, center);
      padding-top: toRem(26);
      padding-bottom: toRem(32);
      padding-left: toRem(40);
      padding-right: toRem(40);
    }
  }
  &__menu {
    @include flex(column, wrap, flex-start, center);
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: toRem(40);
    padding-bottom: toRem(40);
    @extend .global-gradient-horizontal;
    transition: 0.2s;
    opacity: 0;
    z-index: -1;
    &.active {
      opacity: 1;
      z-index: 1;
      @extend .global-gradient-horizontal-darken;
    }
    @media only screen and (min-width: 576px) {
      @include flex(column, wrap, flex-start, flex-start);
    }
    @media only screen and (min-width: 768px) {
      @include flex(row, wrap, flex-start, flex-start);
    }
    @media only screen and (min-width: 1284px) {
      position: static;
      opacity: 1;
      z-index: 1;
      background: none;
      padding: 0;
      width: auto;
      margin-top: 0;
      &.active {
        background: none;
      }
    }
  }
  &__menu-link {
    text-decoration: none;
    font-family: $pr;
    font-size: toRem(15);
    line-height: toRem(27);
    letter-spacing: $ls;
    text-transform: capitalize;
    color: $white;
    margin-top: toRem(20);
    &:first-child {
      margin-top: 0;
    }
    @media only screen and (min-width: 768px) {
      margin-top: 0;
      margin-right: toRem(41);
    }
  }
  &__sign-up-n-hamburger-container {
    @include flex(row, wrap, flex-start, center);
    margin-top: toRem(10);
    @media only screen and (min-width: 1284px) {
      margin-top: 0;
    }
  }
  &__sign-up {
    @extend .global-a;
    box-shadow: none;
    text-transform: none;
    background: transparent;
    border-color: $white;
  }
  &__hamburger {
    position: relative;
    @include size(toRem(44), toRem(27));
    cursor: pointer;
    margin-left: toRem(27);
    @media only screen and (min-width: 1284px) {
      display: none;
    }
  }
  &__hamburger-elem {
    position: absolute;
    right: 0;
    height: toRem(4);
    background: $white;
    transition: 0.2s;
  }
  &__hamburger-elem1 {
    width: 100%;
    top: 0;
    &.active {
      top: 50%;
      transform: translate(50%, -50%) rotate(225deg);
      width: toRem(34);
      right: 50%;
    }
  }
  &__hamburger-elem2 {
    width: toRem(33);
    top: 50%;
    transform: translateY(-50%);
    &.active {
      background: transparent;
    }
  }
  &__hamburger-elem3 {
    width: toRem(19);
    top: calc(100% - toRem(4));
    &.active {
      top: 50%;
      transform: translate(50%, -50%) rotate(-225deg);
      width: toRem(34);
      right: 50%;
    }
  }
}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1284px) {
}
@media only screen and (min-width: 1400px) {
}

* {
  // @include outline();
}
