include ../logo/logo

mixin header(props = {})
  - const {  } = props;

  .header#home
    .header__wrapper.wrapper
      +logo
      nav.header__menu
        a.header__menu-link(href="#home") Home
        a.header__menu-link(href="#product") Product
        a.header__menu-link(href="#about") About
        a.header__menu-link(href="#contact") Contact
      .header__sign-up-n-hamburger-container
        a.prevdef.header__sign-up(href="#") Sign up
        .header__hamburger
          .header__hamburger-elem.header__hamburger-elem1
          .header__hamburger-elem.header__hamburger-elem2
          .header__hamburger-elem.header__hamburger-elem3
