@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/extends';

.about2 {
  background: $white;
  &__wrapper {
    @include flex(column, wrap, flex-start, center);
    padding-top: toRem(90);
    padding-bottom: toRem(70);
    @media only screen and (min-width: 992px) {
      @include flex(row, wrap, center, flex-start);
    }
  }
  &__text-container {
    @include flex(column, wrap, flex-start, center);
    @media only screen and (min-width: 992px) {
      width: 48%;
      @include flex(column, wrap, flex-start, flex-start);
      order: 2;
    }
    @media only screen and (min-width: 1200px) {
      padding-top: toRem(161);
      padding-left: toRem(44);
      padding-right: toRem(28);
    }
  }
  &__headline {
    @extend .global-h2;
    padding-right: 5%;
    padding-left: 15%;
    @media only screen and (min-width: 576px) {
      padding: 0;
      width: 350px;
    }
    @media only screen and (min-width: 768px) {
      width: 500px;
    }
    @media only screen and (min-width: 992px) {
      width: 100%;
    }
  }
  &__subheading {
    @extend .global-h3;
    margin-top: toRem(27);
    padding-right: 25%;
    padding-left: 15%;
    @media only screen and (min-width: 576px) {
      padding: 0;
      width: 350px;
    }
    @media only screen and (min-width: 768px) {
      width: 500px;
    }
    @media only screen and (min-width: 992px) {
      width: 100%;
    }
    @media only screen and (min-width: 1200px) {
      margin-top: toRem(45);
      padding-right: 16%;
    }
  }
  &__m-image {
    margin-top: toRem(124);
    @media only screen and (min-width: 992px) {
      display: none;
    }
  }
  &__link {
    @extend .global-a;
    text-align: center;
    margin-top: toRem(60);
    @media only screen and (min-width: 1200px) {
      margin-top: toRem(37);
    }
  }
  &__d-image {
    display: none;
    @media only screen and (min-width: 992px) {
      display: block;
      width: 48%;
      order: 1;
    }
  }
}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}

// * {@include outline()}
