mixin about2(props = {})
  - const {} = props;

  .about2
    .about2__wrapper.wrapper
      .about2__text-container
        h2.wow.animate__animated.animate__zoomInDown.about2__headline Perfect for Operations HR and Finance
        h3.about2__subheading Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
        img.lazy.about2__m-image(src=require("../components/lazyload/img/lazy-1x1.png"), data-src=require("../components/about2/img/lazy-about2__image.webp"), alt="pic")
        a.prevdef.about2__link(href="#") Button
      img.lazy.about2__d-image(src=require("../components/lazyload/img/lazy-1x1.png"), data-src=require("../components/about2/img/lazy-about2__image.webp"), alt="pic")
