mixin about1(props = {})
  - const {} = props;

  .about1#about
    .about1__wrapper.wrapper
      .about1__text-container
        h2.wow.animate__animated.animate__zoomInDown.about1__headline Quick & Easy Process
        h3.about1__subheading Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
        img.lazy.about1__m-image(src=require("../components/lazyload/img/lazy-1x1.png"), data-src=require("../components/about1/img/lazy-about1__image.webp"), alt="pic")
        .about1__links-container
          a.prevdef.about1__link.about1__sign-up(href="#") Sign Up for Free
          a.prevdef.about1__link.about1__find-out(href="#") Find Out More
      img.lazy.about1__d-image(src=require("../components/lazyload/img/lazy-1x1.png"), data-src=require("../components/about1/img/lazy-about1__image.webp"), alt="pic")
