@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/extends';

.footer {
  background: $dark-blue;
  &__wrapper {
    padding-top: toRem(72);
    padding-bottom: toRem(86);
    @include flex(column, wrap, flex-start, center);
    @media only screen and (min-width: 992px) {
      @include flex(row, wrap, center, flex-start);
    }
    @media only screen and (min-width: 1200px) {
      @include flex(row, wrap, space-around, flex-start);
      padding-top: toRem(62);
      padding-left: toRem(111);
      padding-bottom: toRem(64);
    }
  }
  &__block {
    width: 80%;
    @include flex(column, wrap, flex-start, flex-start);
    @media only screen and (min-width: 576px) {
      width: 400px;
    }
    @media only screen and (min-width: 992px) {
      width: calc((100% - calc(toRem(40) * 2)) / 3);
      &:not(:nth-child(3n)) {
        margin-right: toRem(40);
      }
    }
    @media only screen and (min-width: 1200px) {
      margin-right: 0;
      width: calc(100% / 3.6);
    }
  }
  &__block1 {
  }
  &__block2 {
    margin-top: toRem(87);
    @media only screen and (min-width: 992px) {
      margin-top: 0;
    }
  }
  &__block3 {
    margin-top: toRem(87);
    @media only screen and (min-width: 992px) {
      margin-top: 0;
    }
  }
  &__lists-container {
    @include flex(row, wrap, space-between, center);
    width: 100%;
    @media only screen and (min-width: 1200px) {
      padding-top: toRem(28);
    }
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: auto;
    @include flex(column, wrap, flex-start, flex-start);
  }
  &__list1 {
  }
  &__list2 {
  }
  &__list-item {
    padding: 0;
    margin: 0;
    margin-top: toRem(20);
    @include flex(column, wrap, flex-start, flex-start);
    &:first-child {
      margin-top: 0;
    }
  }
  &__list-link {
    text-decoration: none;
    font-family: $pr;
    font-size: toRem(15);
    line-height: toRem(27);
    letter-spacing: $ls;
    color: $white;
    transition: 0.2s;
    &:hover {
      color: $mint;
    }
  }
  &__just-type {
    width: auto;
    margin: 0;
    margin-top: toRem(66);
    font-family: $rb;
    font-size: toRem(12);
    line-height: toRem(18);
    letter-spacing: toRem(0.1);
    color: $white;
  }
  &__map {
    @include size(100%, toRem(247));
    border-radius: 22px;
    background: $mint;
    @media only screen and (min-width: 1200px) {
      width: 100%;
    }
  }
  &__contact-link {
    text-decoration: none;
    font-family: $pr;
    font-size: toRem(15);
    line-height: toRem(27);
    letter-spacing: $ls;
    color: $white;
  }
  &__address {
    width: auto;
    margin: 0;
    background: url('data:image/svg+xml, <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 384 512" class="svg-inline--fa fa-map-marker-alt fa-w-12 fa-3x"><path fill="%23fff" d="M192 96c-52.935 0-96 43.065-96 96s43.065 96 96 96 96-43.065 96-96-43.065-96-96-96zm0 160c-35.29 0-64-28.71-64-64s28.71-64 64-64 64 28.71 64 64-28.71 64-64 64zm0-256C85.961 0 0 85.961 0 192c0 77.413 26.97 99.031 172.268 309.67 9.534 13.772 29.929 13.774 39.465 0C357.03 291.031 384 269.413 384 192 384 85.961 298.039 0 192 0zm0 473.931C52.705 272.488 32 256.494 32 192c0-42.738 16.643-82.917 46.863-113.137S149.262 32 192 32s82.917 16.643 113.137 46.863S352 149.262 352 192c0 64.49-20.692 80.47-160 281.931z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path></svg>')
      no-repeat 0 center;
    padding: 20px 0 20px 50px;
  }
  &__phone {
    width: auto;
    margin: 0;
    background: url('data:image/svg+xml, <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="mobile-android-alt" role="img" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 320 512" class="svg-inline--fa fa-mobile-android-alt fa-w-10 fa-3x"><path fill="%23fff" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zm-64 452c0 6.6-5.4 12-12 12h-72c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h72c6.6 0 12 5.4 12 12v8zm64-80c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z" class="" data-darkreader-inline-fill="" style="--darkreader-inline-fill:currentColor;"></path></svg>')
      no-repeat 5px center;
    padding: 20px 0 20px 50px;
    @media only screen and (min-width: 1200px) {
      position: relative;
      top: toRem(-11);
    }
  }
  &__socials-container {
    margin-top: toRem(37);
    @media only screen and (min-width: 1200px) {
      margin-top: toRem(15);
    }
  }
  &__social-link {
    text-decoration: none;
    @include size(toRem(32), toRem(32));
    margin-right: toRem(28);
    transition: 0.2s;
    &:last-child {
      margin-right: 0;
    }
    svg {
      @include size(toRem(32), toRem(32));
      transition: 0.2s;
      path {
        fill: $white;
        transition: 0.2s;
      }
    }
  }
  &__social-link:hover > svg path {
    fill: $mint;
  }
  &__twitter {
    svg {
      path {
      }
    }
  }
  &__facebook {
    svg {
      path {
      }
    }
  }
  &__linkedin {
    svg {
      path {
      }
    }
  }
}

// Media Queries
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1400px) {
}

* {
  // @include outline();
}
