@import 'mixins';

// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

:root {
  box-sizing: border-box;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  background: #222;
  color: #fff;
}

::placeholder {
  color: #777;
  opacity: 1; /* Firefox */
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: $font-family;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 {
  font-size: $font-size-h3;
}
h4 {
  font-size: $font-size-h4;
}
h5 {
  font-size: $font-size-h5;
}
h6 {
  font-size: $font-size-h6;
}

p {
  margin-top: 0.875em;
  margin-bottom: 0.875em;
}

button:not(:disabled) {
  cursor: pointer;
}

.wrapper {
  @include wrapper();
}

table,
th,
tr,
td {
  color: #f4f4f4;
}

.accordion-body {
  color: #222;
}
