@import 'mixins';
@import 'variables';

.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.global-gradient-horizontal {
  background: linear-gradient(90deg, $gradient-color1, $gradient-color2);
}

.global-gradient-horizontal-darken {
  background: linear-gradient(
    90deg,
    darken($gradient-color1, 10%),
    darken($gradient-color2, 10%)
  );
}

.global-gradient-diagonal {
  background: linear-gradient(45deg, $gradient-color1, $gradient-color2);
}

.global-a {
  display: block;
  text-decoration: none;
  background: $blue;
  border: 1px solid $blue;
  font-family: $pm;
  font-size: toRem(16);
  line-height: toRem(16);
  letter-spacing: $ls;
  border-radius: toRem(50);
  text-transform: lowercase;
  color: $white;
  padding: toRem(18) toRem(46);
  transition: 0.2s;
  box-shadow: $global-shadow;
  &:hover {
    background: $mint;
    border-color: $mint;
  }
}

.global-h2 {
  width: auto;
  margin: 0;
  font-family: $pm;
  font-size: toRem(46);
  line-height: toRem(57);
  letter-spacing: $ls;
  color: $black;
}

.global-h3 {
  width: auto;
  margin: 0;
  font-family: $pb;
  font-size: toRem(16);
  line-height: toRem(20);
  letter-spacing: $ls;
  color: $grey;
}

.global-p {
  width: auto;
  margin: 0;
  font-family: $pr;
  font-size: toRem(18);
  line-height: toRem(27);
  letter-spacing: $ls;
  color: $grey;
}
