// Fonts
$pbl: 'Poppins-Black';
$pb: 'Poppins-Bold';
$pm: 'Poppins-Medium';
$pr: 'Poppins-Regular';
$rb: 'Roboto-Bold';

$ls: toRem(0.2);

// Base typography

$font-size: 1rem;

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.125rem;
$font-size-h5: 1rem;
$font-size-h6: 1rem;

$line-height: 1.5;

$font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu',
  'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

// Semantic colors
$white: #fff;
$black: #000;
$text-color: #08090a;
$link-color: #3b49df;

$global-shadow: 0px 0px 21px 4px rgba($black, 0.1);

// Colors
$space-grey: #222222;
$pink: #e65b70;
$purple: #512950;
$red: #c4233e;
$yellow: #ffdd00;
$green: #07b75f;
$orange: #f58220;

$blue: #03d6f3;
$grey: #5c5c5c;
$mint: #30d7ba;
$dark-blue: #112d57;
$gradient-color1: #37bda6;
$gradient-color2: #cb1be8;

$media-green: #254823;
$media-pink: #59363b;
$media-blue: #2b4146;
$media-orange: #85552b;
$media-purple: #2d1d34;
