include ../../components/header/header
include ../../components/footer/footer
include ../../components/modal/modal
include ../../components/pagescroll2id/to-top-link

doctype html
html.page(lang="en")

  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //- For mobile browser
    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="date=no")
    meta(name="format-detection", content="address=no")
    meta(name="format-detection", content="email=no")
    meta(content="notranslate", name="google")

    block head
    title= pageTitle || ""
    meta(name="description", content=pageDescription || "")
    meta(name="keywords", content=pageKeywords || "")

    link(rel="apple-touch-icon", sizes="180x180", href="./favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="./favicons/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="./favicons/favicon-16x16.png")
    link(rel="manifest", href="./favicons/site.webmanifest")
    link(rel="mask-icon", href="./favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")

  body.lazyload
    +header
    block content
    +footer
    +modal
    +pagescroll2id
